<div
    class="space-y-4 bg-linear-to-br from-emerald-50 to-teal-50 p-6 rounded-lg border-l-4 border-emerald-500 shadow-md mb-3">
    <div class="flex items-center justify-between mb-4">
        <p>
            <span class="text-lg font-semibold text-emerald-900">{{title()}}</span>
        </p>
        <p>
            <span class="ml-4 px-3 py-1 bg-orange-600 text-white text-xs font-bold rounded-full">Marks: {{marks()}}</span>
        </p>
    </div>

    <p class="text-gray-700 font-medium mb-4">{{text()}}</p>
    <p class="text-gray-700 font-mono text-sm mb-4">Hints - {{hints()}}</p>

    <div class="space-y-2" [formGroup]="form">
        <label
            class="flex items-center space-x-3 p-3 rounded-lg hover:bg-emerald-100 cursor-pointer transition border-2 border-transparent hover:border-emerald-400">
            <input (change)="onChange()" formControlName="providedAnswer" type="radio" value={{answers()?.optA}} class="w-4 h-4 text-emerald-600 focus:ring-emerald-500">
            <span class="text-gray-700">{{answers()?.optA}}</span>
        </label>
        <label
            class="flex items-center space-x-3 p-3 rounded-lg hover:bg-emerald-100 cursor-pointer transition border-2 border-transparent hover:border-emerald-400">
            <input (change)="onChange()" formControlName="providedAnswer" type="radio" value={{answers()?.optB}}
                class="w-4 h-4 text-emerald-600 focus:ring-emerald-500">
            <span class="text-gray-700">{{answers()?.optB}}</span>
        </label>
        <label
            class="flex items-center space-x-3 p-3 rounded-lg hover:bg-emerald-100 cursor-pointer transition border-2 border-transparent hover:border-emerald-400">
            <input (change)="onChange()" formControlName="providedAnswer" type="radio" value={{answers()?.optC}}
                class="w-4 h-4 text-emerald-600 focus:ring-emerald-500">
            <span class="text-gray-700">{{answers()?.optC}}</span>
        </label>
        <label
            class="flex items-center space-x-3 p-3 rounded-lg hover:bg-emerald-100 cursor-pointer transition border-2 border-transparent hover:border-emerald-400">
            <input (change)="onChange()" formControlName="providedAnswer" type="radio" value={{answers()?.optD}}
                class="w-4 h-4 text-emerald-600 focus:ring-emerald-500">
            <span class="text-gray-700">{{answers()?.optD}}</span>
        </label>
    </div>
</div>