<div
    class="space-y-4 bg-linear-to-br from-emerald-50 to-teal-50 p-8 rounded-xl border-l-4 border-emerald-500 hover:shadow-lg transition duration-200 mb-3">
    <div class="flex items-start justify-between">
        <div class="flex-1">
            <h3 class="text-lg font-bold text-emerald-900 mb-3">{{title()}}</h3>
            <p class="text-gray-700 text-base leading-relaxed">{{text()}}</p>
            <p class="text-gray-700 font-mono text-sm mb-4">Hints - {{hints()}}</p>
        </div>
        <span class="ml-4 px-3 py-1 bg-emerald-600 text-white text-xs font-bold rounded-full">Marks: {{marks()}}</span>
    </div>
    <div class="flex gap-4 pt-4" [formGroup]="form">
        <label
            class="flex-1 flex items-center gap-3 p-4 bg-white rounded-lg border-2 border-emerald-200 hover:border-emerald-500 cursor-pointer transition group">
            <input formControlName="providedAnswer" (change)="onChange()" type="radio" value="true" class="w-5 h-5 text-green-600 accent-green-600">
            <span class="text-gray-700 font-semibold group-hover:text-emerald-700">True</span>
        </label>
        <label
            class="flex-1 flex items-center gap-3 p-4 bg-white rounded-lg border-2 border-emerald-200 hover:border-emerald-500 cursor-pointer transition group">
            <input formControlName="providedAnswer" (change)="onChange()" type="radio" value="false" class="w-5 h-5 text-red-600 accent-red-600">
            <span class="text-gray-700 font-semibold group-hover:text-emerald-700">False</span>
        </label>
    </div>
</div>